---

---

<section class="w-full h-screen flex flex-col md:flex-row">
  <div class="flex-1 flex flex-col justify-center items-start p-10">
    <h1 class="text-5xl font-bold text-gray-900">
      Recupera tu bienestar con nuestros servicios de fisioterapia
    </h1><p class="mt-4 text-lg text-gray-600">
      Brindamos cuidado experto y personalizado para aliviar el dolor y mejorar
      tu movilidad. Nuestro equipo de fisioterapeutas altamente capacitados está
      comprometido a ayudarte a recuperar tu calidad de vida.
    </p><div class="mt-10">
      <a
        class="inline-flex h-10 items-center justify-center rounded-md bg-purple-800 px-8 text-sm font-medium text-white shadow transition-colors hover:bg-rose-700 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-purple-800 disabled:pointer-events-none disabled:opacity-50 dark:focus-visible:ring-gray-300"
        href="#"
      >
        ¡Programa tu cita ahora!
      </a>
    </div>
  </div><div class="flex-1">
    <img
      src="../../public/images/profit-svgrepo-com.svg"
      alt="Placeholder image"
      class="object-cover w-full h-full"
      width="500"
      height="500"
      style="aspect-ratio: 500 / 500; object-fit: cover;"
    />
  </div>
</section>
